doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/views/'+Math.random()+'front-end.css')
    //- script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
    //- script(src='http://vjs.zencdn.net/6.2.8/video.js')
    //- script(src="https://unpkg.com/videojs-flash/dist/videojs-flash.js")
    //- script(src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js")
    //- script(src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js")
    //- link(rel='stylesheet', href='http://vjs.zencdn.net/6.2.8/video-js.css')
  body
    if(agent == null)
      script.
        function login(){
          var username = $('#username').val();
          var password = $('#password').val();
          $.post("/agent/login",{username: username, password:password},function(data){
            console.log(data);
            if(data.result === 1){
                location.reload();
            }
          }).fail(function(data){
            console.log(data);
          });
        }
    else
      script.
        function logout(){
          $.get('/agent/logout', function(data){
            console.log(data);
            if(data.result ===1){
              location.reload();
            }
          });
        }
  br
  .container
    .row
      .col-md-10.col-xs-12
        p HK Property
      .col-md-2.col-xs-12
        .head-login.hidden-xs
          .btl
            .btl-panel
              if(agent == null)
                span.btn.btn-primary(data-toggle="modal" data-target="#login_module") login
              else
                span.btn.btn-primary(data-toggle="modal" data-target="#login_module")="Welcome, "+agent
  #login_module.modal.fade(tabindex="-1" role="dialog" aria-hidden="true" style="hide")
    .modal-dialog
      .modal-content
        .modal-header
          if(agent == null)
            h5 login
          else 
            h5="Welcome, "+agent
          button.close(type="button" data-dismiss="modal")
            span x
        .modal-body 
          .container
            if(agent==null)
              .row
                .col-md-12.col-xs-12
                  span Username:
                  input#username(type="text" name="username")
                .col-md-12.col-xs-12
                  span Password:
                  input#password(type="password" name="password")
            else 
              .row
                .col-md-6.col-xs-12
                  span 中文姓名：
                .col-md-6.col-xs-12
                  span=agent_details.agent_name_zh
              .row
                .col-md-6.col-xs-12
                  span English Name:
                .col-md-6.col-xs-12
                  span=agent_details.agent_name_en
              .row
                .col-md-6.col-xs-12
                  span Phone Number:
                .col-md-6.col-xs-12
                  span=agent_details.agent_phone
              .row
                .col-md-6.col-xs-12
                  span Register Number：
                .col-md-6.col-xs-12
                  span=agent_details.agent_reg_no
        .modal-footer
          if(agent == null)
            button.btn.btn-secondary(data-dismiss="modal") Cancel
            button.btn.btn-primary(onclick="login()") Login
          else 
            button.btn.btn-primary(onclick="logout()") Logout
  nav.navbar-default.navbar-nav
    .container
      .container.bg-transparent
        .navbar
          ul.nav
            li.current.active 
              a(href="/webapp")
                span.navtitle Main Page
            li.current 
              a(href="/webapp/selling")
                span.navtitle Sell
            li.current 
              a(href="/webapp/rent")
                span.navtitle Rental 
            li.current 
              a(href="")
                span.navtitle Branch
            li.current 
              a(href="")
                span.navtitle Agent
            li.current 
              a(href="")
                span.navtitle Login
  .container
    block content