.row
    .container
        .row
            .col-md-9.col-xs.12 
                .row
                    .col-md-6.col-xs-12
                        .blackcolor(style="height:400px;")
                            img.property_details_pic(src=properties.image_page)
                    .col-md-6.col-xs-12
                        .row
                            ul.property_list_details
                                li.property_details
                                    .col-md-6.col-xs-12
                                        span 建築面積(ft')
                                    .col-md-6.col-xs-12
                                        h5=properties.practical_building_area
                                li.property_details
                                    .col-md-6.col-xs-12
                                        span 實用面積(ft')
                                    .col-md-6.col-xs-12
                                        h5=properties.gross_building_area
                                li.property_details
                                    .col-md-6.col-xs-12
                                        span 房間
                                    .col-md-6.col-xs-12
                                        h5=properties.num_room
                                li.property_details
                                    .col-md-6.col-xs-12
                                        span 客廳
                                    .col-md-6.col-xs-12
                                        h5=properties.num_livingrm
                                li.property_details
                                    .col-md-12.col-xs-12
                                        span Description
                                    .col-md-12.col-xs-12
                                        h5=properties.description
                .row
                    .col-md-12.col-xs-12
                        .map.blackcolor
                            script.
                                function map(){
                                    
                                }
            .col-md-3.col-xs.12 asdf